@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  background-color: #cde8e5;
  /* width: 100%;
  height: 100%; */
  background-color: #eef7ff;
  padding: 36px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  /*background-color: #cde8e5;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.main {
  /*background-color: #cde8e5;*/
  padding: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.report-container {
  /*background-color: #cde8e5;*/
  padding: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.dashboard-header h1 {
  margin: 20px;
  font-size: 38px;
  color: #226e8b;
}

.profit-container {
  display: flex;
  /* flex-direction: column; */
  padding: 2rem;
  gap: 50px;
  margin: auto;
  gap: 50px;
}

.profit-container .profit-wrapper {
  background: #226e8b;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.profit-container .profit-wrapper .profit-number {
  font-weight: bold;
  font-size: 20pt;
}

.profit-container .profit-date-container {
  display: flex;
  padding-top: 25px;
  gap: 4px;
  color: black;
}

canvas {
  display: block;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main .card {
  width: 378px;
  height: 168px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .card h1 {
  color: #226e8b;
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.main .card img {
  margin-right: 20px;
}
.card-catatan {
  width: 619px;
  background: #72a9be;
  border: 0.955px solid white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.section input,
.section select,
.section textarea {
  padding: 8px 16px 8px 16px;
  border-radius: 20px;
  border: 0.955px solid white;
  background: #cde8e5;
  width: 100%;
}

.section input {
  height: 49.5px;
}

#tanggalWaktu,
#kategori,
#jumlahUang,
#catatanTambahan {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 20px;
  border: 0.955px solid white;
  background: white;
}

#jumlahUang {
  width: 100%;
  height: 80.25px;
}

#kategori {
  width: 100%;
  height: 80.25px;
}

#catatanTambahan {
  height: 128.25px;
}

.catatan-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catatan-container label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease;
}

.catatan-container textarea:focus + label,
.catatan-container textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  color: white;
  background: #cde8e5;
  padding: 0 5px;
  border-radius: 8px;
}

#catatanTambahan + label {
  top: 12px;
  left: 16px;
  font-size: 18px;
  color: #757575;
  transition: all 0.3s ease;
}

#catatanTambahan:focus + label,
#catatanTambahan:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 20;
  border: white;
  background: white;
  font-size: 14px;
}

label[for="jumlahUang"],
label[for="tanggalWaktu"],
label[for="kategori"] {
  display: none;
}

.btn-simpan {
  width: 114.75px;
  height: 36.75px;
  border-radius: 36px;
  border: 0.955px solid #3d6270;
  background: white;
  cursor: pointer;
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 20px;
  font-weight: bolder;
  color: #313131;
}

select:invalid {
  color: #757575;
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 16px;
  font-weight: normal;
}

select option {
  color: black;
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 20px;
  font-weight: normal;
}

select:valid {
  color: black;
  /*font-family: "Times New Roman", Times, serif;*/
  font-size: 20px;
  font-weight: normal;
}

select option[value=""][disabled] {
  display: none;
}

.date-time-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px; /* Tambahkan padding di sini */
  width: 100%; /* Lebar container 100% */
}

.date-time-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(50% - 10px); /* Lebar masing-masing bagian */
}

.date-time-wrapper input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  border: 0.955px solid #757575;
  background: white;
  box-sizing: border-box; /* Tambahkan properti ini */
  width: 100%;
}

.date-time-wrapper label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 16px;
  color: #757575;
  transition: all 0.3s ease;
}

.date-time-wrapper input:focus + label,
.date-time-wrapper input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 14px;
  color: #757575;
  background: white;
  padding: 0 5px;
  border-radius: 8px;
}

.section.rupiah {
  display: flex;
  align-items: center;
}

.section.rupiah span {
  margin-right: 10px; /* Adjust margin as needed */
  margin-left: 10px; /* Adjust margin as needed */
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.section.rupiah input {
  padding-left: 40px; /* Adjust padding-left to make space for "Rp." */
  font-size: 24px;
}
.navbar {
  background: #226e8b;
  margin: 0;
  padding: 15px 30px;
}

.logo {
  font-size: 18pt;
  font-weight: bold;
  text-decoration: none;
  color: white;
  /*font-family: sans-serif;*/
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.menu li {
  padding-left: 0;
  margin-right: 10px;
}

.menu li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /*font-family: sans-serif;*/
}

.report-container h1 {
  text-align: center;
  color: #226e8b;
  margin-bottom: 10px;
}
.report-container p {
  text-align: center;
}

.date-selection {
  margin-bottom: 20px;
  text-align: center;
}

.date-selection label {
  margin-right: 10px;
}

.date-selection input {
  margin-right: 10px;
}

.date-selection button {
  background-color: #226e8b;
  padding: 5px 10px;
  border: 2px;
  cursor: pointer;
}

.date-selection button {
  color: white;
}

.selected-date p {
  font-weight: bold;
  color: #226e8b;
}

.data-display {
  background-color: #72a9be;
  font-size: 18px;
}

.data-display {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#report-table {
  width: 100%;
  border-collapse: collapse;
}

#report-table th,
#report-table td {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#report-table th {
  background-color: #226e8b;
  color: white;
}

#report-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
